#wrapper {
    width: 100%;
}
#page-wrapper {
    padding:4em 2em 2.5em;
	background-color: #F1F1F1;
}
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
	margin-bottom: 0;
}

.sidebar .nav-second-level li a {
    padding-left: 53px;
    font-size: .9em;
}
.sidebar .nav-third-level li a {
    padding-left: 52px;
}
@media(min-width:768px){
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}


.social {
    border-radius: 3px;
    box-shadow: 0 1px 0 #e9e9e9 inset;
    background: #f3f3f3;
    border-color: #d1d1d1 #e7e7e7 #e4e4e4;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #e9e9e9 inset;
    float: left;
    list-style: none;
    padding: 15px 10px;
    position: relative;
    text-align: center;
    margin: 20px;
}

.social li:first-child {
    margin-top: 0
}

.social li {
    margin-top: 10px
}

.social li a {
    display: block;
    border-radius: 15px;
    text-decoration: none;
    line-height: 30px;
    width: 50px;
    font-size: 18px;
}

.social a.tw:hover {
    background: #00acee
}

.social a.fb:hover {
    background: #3b5998
}

.social a.gp:hover {
    background: #dd4b39
}



/***   Comment box ***/


.comments input[type="submit"]{
    width: 100px;
    padding: 5px 0px;
    float: right;
    background-color: orange;
    margin-top: -16px;
}
.comments input[type="text"]{
    width: 43%;
    padding: 8px 0px;
    border: 1px solid #dfdfdf;
    text-indent: 5px;
}

.comments input::-webkit-input-placeholder, .comments textarea::-webkit-input-placeholder {
    font-style: italic;
    padding: 5px;
}
.comment-content{
    width: 97%;
    padding: 10px;
    min-height: 80px;
    outline: none;
    background: #f9f9f9;
    border-radius: 0px 0px 5px 5px;
}
.comment-post {
    background-color: yellow;
    width:40%;
    display: none;
}
.comment-post i{
    padding: 0 0px 0px 10px;
}
.content{
    width: 100%;
}
.username {
    color: #4c6c85;
}
.comments{
    width: 600px;
    margin: 30px auto;
}

.insert-text{
    position: relative;
    margin: 40px 0px 30px 0px;
    width: 97%;
}
.list-comments{
    margin-top: 30px;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
}

.list-comments > div{
    padding: 10px 0px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    overflow-wrap: break-word;
}

.list-reply {
    margin-left: 10%;
    padding: 0px 20px 0px;
    width: 100%;
    border: none;
    overflow-wrap: break-word;
    border-left: 1px solid #dfdfdf;
}
.comments textarea {
    border: 1px solid #dfdfdf;
    resize: none;
    overflow: auto;
}

.comment-content:focus{
    background: #fff;
}

#list-builder {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    filter: alpha(opacity=80);
    opacity: 0.8;
    display: none;
}

#popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #911e26;
    color: #FFFFFF;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border: 10px solid #FFFFFF;
    display: none;
}

#popup-close {
    position: absolute;
    top: -25px;
    right: -25px;
    cursor: pointer;
    width: 40px;
}

#popup-box h1 {
    margin: 0;
}

#popup-box form {
    margin-bottom: 0px;
}

#popup-box input {
    padding: 10px;
    border: 1px solid #333;
    width: 40%;
}

#popup-box button {
    padding: 10px;
    border: 1px solid #333;
}